# dependencies
**/node_modules/

# env files
**/.env

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# build outputs
client/dist/

# NeDB database files (don’t commit)
server/data/*.db

# OS/editor
.DS_Store
.vscode/